@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  ul li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }

h1,h2,h3,h4,h5,h6, p,a {
    margin: 0;
    padding: 0;
  }
  /* .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  } */


  /* Start HEader part */
.banner{
    background: linear-gradient(
        180deg,
         rgb(16, 16 , 16) -19.5%,
         rgba(16, 16, 16, 0) 100%),
         url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    margin: 20px 140px;
    opacity: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* position: relative; */
}
.banner .text{
    width: 632px;
    height: 246px;
    /* border: 3px solid white; */
}
.banner .text .subtitle {
    font-size: 32px;
    margin-bottom: 16px;
}
.banner .text .title {
    font-size: 72px;
    line-height: 95px;
}
.banner .text .subtitle,.title{
    font-family: "Merriweather", serif;
    color: white;
  }

  /* start off and categories */
  .off-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 120px auto;
    width: 803px;
  }
  .off-primary{
    text-align: center;
  }
.off-primary .sub-off-title{
 font-size: 22px;
 font-weight:medium;
 color: #FF0000;
 font-family: "Inter", serif;
 margin-bottom: 15px;
  }
.off-title{
    font-family: "Inter", serif;
    font-size: 48px;
    color: red;
    font-weight: bold;
    margin-bottom: 30px;
  }
.off-primary .off-title-p{
    font-size: 48px;
    font-weight:bold;
    color: #070211;
    font-family: "Inter", serif;
    margin-bottom: 15px;
     }

       /* start party section */
.party{
    background: 
    linear-gradient(
        120deg, 
        rgba(0, 0, 0, 0.9) 10%, 
        rgba(0, 0, 0, 0.5) 40%, 
        rgba(0, 0, 0, 0) 80% 
      ), 
      url("../images/Vectorrr.png");   
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    margin: 20px 140px;
    opacity: 100%;
    border-radius: 16px;
    display: flex;
    position: relative;
       }
.p2024{
position: absolute;
left: 1150px;
bottom: 90px;
}
.party .text-party{
 display: flex;
 align-items: center;
 align-content: center;

}
.party .text-party .text{
    margin: auto 126px;
}
.party .text .party-title{
    font-size: 64px;
    color: white;
    font-family: "Merriweather", serif;
    line-height: 88px;
}
.party .text .description{
    font-family: "Inter", serif;
    font-size: 18px;
    color: white;
    margin-top: 24px;
    margin-bottom: 48px;
    opacity: 0.8;
}
.party .text button{
    font-weight: bold;
    font-family: "Inter", serif;
    font-size: 20px;
    color: white;
    width: 103px;
    height: 24px;
    border: none;
    background: none;
    margin-left: 10px;
}

/* join section */
.join{
height: 482px;
margin: 120px 140px;
opacity: 100%;
border-radius: 16px;
display: flex;
justify-content: center;
text-align: center;
background: linear-gradient(180deg, rgba(238, 225, 227, 0.8) 30%, white 100%);

}
.join .join-text{
    width: 550px;
    height: 272px;
    display: flex;
    margin: auto;

}
.join .join-text h1{
font-size: 32px;
font-weight: 700;
color: black;
font-family: "Inter", serif;
margin-bottom: 10px;
}
.join .join-text strong{
    color: #FF0000;
    }
.join .btn{
    width: 167px;
    height: 56px;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: bold;
    color: white;
    background-color: #FF0000;
    border-radius: 10px;
    border: none;
}

/* start coming soon */
.coming-soon{
    height: 463px;
    margin: 120px 140px;
    opacity: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
}
.coming-soon .left{
    width: 393px;
    height: 255px;
    margin-left: 10px;
}
.coming-soon .left .comingsoon-title{
    font-size: 24px;
    font-weight: medium;
    font-family: "Inter", serif;
    color: #FF0000;
}
.coming-soon .left .comingsoon-sub{
    font-size: 48px;
    font-weight: medium;
    font-family: "Merriweather", serif;
    color: black;
    margin: 22px 0px;
}
.coming-soon .left .description{
    font-family: "Inter", serif;
    opacity: 0.6;
    font-size: 20px;
}
.coming-soon .center{
    width: 480px;
    height: 480px;
    border: 10px solid red;
    border-radius: 50%;
    padding: 20px;
}
.coming-soon .center img{
width: 100%;
height: 100%;
}
.coming-soon .right{
    margin-right: 10px;
}
.coming-soon .right .right-text {
    font-size: 48px;
    font-weight: bold;
    font-family: "Inter", serif;
    color: red;
    margin: 22px 0px;
}
.coming-soon .right .description{
    font-family: "Inter", serif;
    opacity: 0.6;
    font-size: 20px;
    margin-bottom: 60px;
}

/* start funvtional part */
.functional {
    height: 987px;
    margin: 120px 140px;
    opacity: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.functional .text .subtitle{
    font-size: 24px;
    font-weight: medium;
    font-family: "Inter", serif;
    color: black;
}
.functional .text .title{
    font-size: 72px;
    font-weight: medium;
    font-family: "Merriweather", serif;
    color: black;
    margin: 20px 0;
}
.functional .text .description{
    font-family: "Inter", serif;
    opacity: 0.6;
    font-size: 20px;
    margin-bottom: 120px;
    line-height: 30px;
}
 .bannerimage{
    height: 660px;
    position: relative;
    width: 100%;
}
.bannerimage .img1{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 100%;
}
.bannerimage .img2{
    position: absolute;
    left: 150px;
    bottom: 52px;
    width: 796px;
    height: 662px;
}
.bannerimage .img3{
    position: absolute;
    left: 1150px;
    bottom: 400px;
    width: 305px;
    height: 305px;
}

/* Start portfolio section  */
.portfolio{
    height: 1163px;
    margin: 120px 140px;
    opacity: 100%;
    border-radius: 16px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: start;
}
.portfolio .portfolio-text .portfolio-subtitle {
    font-size: 24px;
    color: red;
    font-family: "Inter", serif;
}
.portfolio .portfolio-text .portfolio-title {
    font-size: 48px;
    color: black;
    font-family: "Merriweather", serif;
    margin: 25px 0;
}
.portfolio .portfolio-text .description {
    font-family: "Inter", serif;
    opacity: 0.6;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}
.portfolio .portfolio-img {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}
.portfolio .portfolio-img .div1{
    width: 424px;
    height: 450px;
}

/* Start newsletter section  */
.newsletter{
    height: 617px;
    margin: 120px 140px;
    opacity: 100%;
    border-radius: 16px;
    display: flex;
   align-items: center;
    flex-direction: column;
    text-align: start;
    background:rgba(238, 225, 227, 0.8);
}
.newsletter .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newsletter .subscribe .text-img{
    width: 150px;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 0px;
}
.newsletter .sub-news{
    font-size: 48px;
    color: black;
    font-family: "Merriweather", serif;
    margin: 35px 0;
}
.newsletter  .description{
    font-family: "Inter", serif;
    opacity: 0.6;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: center;
}
.input-button{
    display: flex;
    gap: 0;
    margin-top: 30px;
}
.newsletter input{
  width: 438px;
  height: 72px;
  border: none;
  font-family: "Inter", serif;
  border-radius: 60px 0 0 60px;
  background-color: #ffff;
  color: gray;
  font-size: 18px;
  padding-left: 50px;
}
.newsletter button{
    width: 210px;
    height: 72px;
    font-family: "Inter", serif;
    font-weight:600;
    font-size: 20px; 
    border-radius: 0px 60px 60px 0px;
    border: none;
    background-color: #FF0000;
    color: white;
  }
  /* start footer */
  .footer{
    padding-top: 100px;
    width: 100%;
    height: 610px;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-content{
    width: 1320px;
    height: 500px; 
  }
  .first{
    display: flex;
    justify-content: space-between;
  }
  .first .phone{
    display: flex;
    flex-direction: column;
  }
  .first .f-h,i{
    font-size: 24px;
    font-weight: medium;
    color:white;
    font-family: "Inter", serif;
  }
  .second{
    text-align: center;
  }
  .third{
    display: flex;
    justify-content: space-between;
  }
  .third .f-h{

    font-size: 24px;
    font-weight: medium;
    color:white;
    font-family: "Inter", serif;
  }
hr{
    margin: 50px 0;
    width: 1320px;
    color: gray;
    background-color: gray;
}
 